p {
	font-size:calc(100vw/50);
	text-align: center;
	font-family: Sans-Serif;
}

.button-row {
	width: 100%;
	text-align: center;
}

.button-row:after {
	content: "";
	clear: both;
	display: table;
}
.button-row button {
	border: 1px solid green;
	width:22%;
	padding: 5% 0%;
	cursor: pointer; 
	white-space: nowrap;
	display: inline-block;
	margin: 0.5% 10% 0.5% 10%;
	font-size:calc(100vw/40);
}