p {
  text-align: left;
  font-size: calc(10px + (24 - 14) * ((100vw - 150px) / (1600 - 300)));
  font-family: sans-serif;
  clear: both;
}

.mainInstruction {
  font-size: calc(14px + (24 - 14) * ((100vw - 150px) / (1600 - 300)));

}

.audioButton {
    font-size: calc(30px + (48 - 14) * ((100vw - 150px) / (1600 - 300)));

}

.centered {
  display: flex; 
  justify-content: center; 
  text-align: center;
}

select {
  padding-left:15pt;
}



table {
  border-collapse: collapse;
  justify-content: center;
}

th, td {
  border: 1px solid black;
  font-size: calc(10px + (24 - 14) * ((100vw - 150px) / (1600 - 300)));
  padding: 5pt;
}

td.first {
  border: 0px;
}

td.rowhead {
  text-align:center;
}

input {
  margin:5pt;
  font-family: sans-serif;
}


svg {
  display: block;
  margin: auto;
  transform: translate(10%,0);
}

body {
  padding:2%;
  font-family: sans-serif;
}

button {
    font-size:calc(10px + (24 - 14) * ((100vw - 150px) / (1600 - 300)));
    margin-left:5%;
    margin-right:5%;
}

.mainContainer {display: flex; 
  justify-content: center; 
  padding-left:5px;
  padding-right:5px;
  text-align: center;
}

.givemespace {
  margin:15pt;
}

#buttons {
  display: flex; 
  justify-content: center; 
  padding-top:24px;
  padding-bottom: 5px;
  padding-left:5px;
  padding-right:5px;
  text-align: center;
}

.likert li {
  float: left;
  font-size: calc(10px + (24 - 14) * ((100vw - 150px) / (1600 - 300)));
  list-style-type: none;
  padding-left:1%;
  padding-right:1%;
  padding-bottom:1%;
  text-align: center;
  font-family: sans-serif;
}

.likert li.inert {
  padding-left:5%;
}