p {
  text-align: center;
  font-size: calc(10px + (20 - 14) * ((100vw - 150px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
 }
svg {
  display: block;
  margin: auto;
  transform: translate(10%,0);
}

body {
  padding:5%;
  font-family:sans-serif;}

button {
    font-size:calc(10px + (20 - 14) * ((100vw - 150px) / (1600 - 300)));
    margin-left:5px;
    margin-right:5px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}

ul, li {
  font-size: calc(8px + (16 - 14) * ((100vw - 150px) / (1600 - 300)));
}

input { 
  font-size:calc(10px + (20 - 14) * ((100vw - 150px) / (1600 - 300)));
}

p#question{
  font-weight: bold;
  font-size: calc(16px + (30 - 14) * ((100vw - 150px) / (1600 - 300)));

}

#highlight {
  font-size: calc(16px + (30 - 14) * ((100vw - 150px) / (1600 - 300)));
  font-weight: bold;
  text-align:center;
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));

}

.ready {
  position : absolute;
  width: 90%;
  height: 100%;
  top: 40%;
}

.scrollDoc{
  height:50vh;
  width:70vw;
  border:5% solid #ccc;
  font-size: calc(10px + (20 - 14) * ((100vw - 150px) / (1600 - 300)));;
  overflow-y:scroll;
  background-color:lightgrey;
  padding:10px;
}


.scrollMom{
  display: flex; 
  justify-content: center; 
  padding-top:5px;
  padding-bottom: 5px;
  padding-left:3px;
  padding-right:3px;
}

#buttons {display: flex; 
  justify-content: center; 
  padding-top:5px;
  padding-bottom: 5px;
  padding-left:5px;
  padding-right:5px;
  text-align: center;
}

.bounce {
  height: 25vw;
  background-color: #ddd;
  margin: auto;
}

.bar {
  height: 25vw;
  width: 10vw;
  background-color: #4CAF50;
}

.white {
  fill:white;
  stroke:black;
  cursor:pointer;
}
.white:hover {
  fill:lightgrey;
}
.black {
  fill:black;
  cursor:pointer;
}
.black:hover {
  fill:grey;
}

.whiteKeys {
  fill: grey;
  pointer-events: none;
  font-size: 250%;
  font-family: monospace;
  font-weight: bold;
}

.blackKeys {
  fill: white;
  pointer-events: none;
  font-size: 200%;
  font-family: monospace;
  font-weight: bold;
}

.icMain {
  text-align: left;
  font-size: calc(8px + (16 - 14) * ((100vw - 150px) / (1600 - 300)));
}

.icHeader {
  text-align: left;
  font-size: calc(10px + (20 - 14) * ((100vw - 150px) / (1600 - 300)));
  font-weight: bold;
  font-style: italic;
}

.icSectionHeader {
  text-align: left;
  font-size: calc(12px + (24 - 14) * ((100vw - 150px) / (1600 - 300)));
  font-weight: bold;
  text-decoration: underline;
}
}
